<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>

<div class="container">
    <div class="logo">
        <img src="https://www.lorainnovations.com/assets/img/Lora.jpg" alt="LoRa IT Innovations">
    </div>

    <!-- Reset Password Form (right side) -->
    <div class="login-box">
        <div class="login-form">
            <h1>Reset Password</h1>
            <p>Enter your details to reset your password.</p>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <!-- Reset Password Form -->
            <form method="POST">
                {% csrf_token %}
                
                <!-- Display the form fields dynamically -->
                {{ form.as_p }}

                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
